html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Chivo', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
#container {
  position: absolute;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 110px;
}
#container.loading {
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}
#options {
  background: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
#options .options-bar {
  border: 1px solid #cccccc;
  height: 46px;
  border-radius: 3px;
  overflow: hidden;
}
#options .options-bar input {
  visibility: hidden;
}
#options .options-bar label {
  border-right: 1px solid #cccccc;
  padding-left: 0;
  margin: 0;
  float: left;
  height: 45px;
  text-align: center;
  font-size: 16px;
}
#options .options-bar label span {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  line-height: 45px;
  display: inline-block;
  transition: all 0.15s;
}
#options .options-bar label span:hover {
  transition: all 0.15s;
  background: #eeeeee;
}
#options .options-bar label:last-child {
  border-right: none;
}
#options .options-bar input[type=radio]:checked + span {
  transition: all 0.15s;
  background-color: #ee0000;
  color: white;
}
#options h4 {
  font-size: 13px;
  text-transform: uppercase;
}
#options .day .options-bar label {
  width: 14.285714285714286%;
}
#options .direction .options-bar {
  width: 99%;
}
#options .direction .options-bar label {
  width: 33.333333333333336%;
}
#options .direction .options-bar label span div {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 7.5px;
  background-repeat: no-repeat;
  background-size: 90px 60px;
  text-indent: -9999px;
  background-image: url('../images/icons.png');
}
#options .direction .options-bar label span.all div {
  background-position: 0px 0px;
}
#options .direction .options-bar label span.in div {
  background-position: -30px 0px;
}
#options .direction .options-bar label span.out div {
  background-position: -60px 0px;
}
#options .direction .options-bar label input[type=radio]:checked + span.all div {
  background-position: 0px -30px;
}
#options .direction .options-bar label input[type=radio]:checked + span.in div {
  background-position: -30px -30px;
}
#options .direction .options-bar label input[type=radio]:checked + span.out div {
  background-position: -60px -30px;
}
#options .range-container {
  position: relative;
}
#options .range-container #current-time {
  margin-left: 42%;
  padding-bottom: 5px;
}
#options .range-container input[type=range] {
  -webkit-appearance: none;
}
#options .range-container input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 3px;
  transition: all 0.3s;
}
#options .range-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ee0000;
  border: 1px solid #cc0000;
  margin-top: -8px;
}
#options .range-container input[type=range]:focus {
  outline: none;
}
#options .range-container input[type=range]:focus::-webkit-slider-runnable-track {
  transition: all 0.3s;
  background: #eeeeee;
}
svg {
  width: 100%;
  height: 100%;
}
.station-circle {
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: center;
  -webkit-animation: pulsate 5s ease-out;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: center;
  -moz-animation: pulsate 5s ease-out;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: center;
  -ms-animation: pulsate 5s ease-out;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: center;
  -o-animation: pulsate 5s ease-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation: pulsate 5s ease-out;
}
.station-circle:nth-child(2n - 1) {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.station-circle:nth-child(2n) {
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 9s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 9s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 9s;
  -o-animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
.station-circle:nth-child(2n + 1) {
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 6s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 6s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 6s;
  -o-animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}
