html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Chivo', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
#container {
  position: absolute;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
}
@media screen and (min-width: 992px) {
  #container {
    bottom: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #container {
    bottom: 185px;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  #container {
    bottom: 350px;
  }
}
@media screen and (max-width: 399px) {
  #container {
    display: none;
  }
}
@media screen and (max-height: 400px) {
  #container {
    bottom: 50px;
  }
}
#container.loading {
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}
#menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
@media screen and (max-width: 768px) {
  #menu .option {
    margin-top: 15px;
  }
}
#menu .options-bar {
  border: 1px solid #cccccc;
  height: 46px;
  border-radius: 3px;
  overflow: hidden;
}
#menu .options-bar input {
  visibility: hidden;
}
#menu .options-bar label {
  border-right: 1px solid #cccccc;
  padding-left: 0;
  margin: 0;
  float: left;
  height: 45px;
  text-align: center;
  font-size: 14px;
}
#menu .options-bar label span {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  line-height: 45px;
  display: inline-block;
  transition: all 0.15s;
}
#menu .options-bar label span:hover {
  transition: all 0.15s;
  background: #eeeeee;
}
#menu .options-bar label:last-child {
  border-right: none;
}
#menu .options-bar input[type=radio]:checked + span {
  transition: all 0.15s;
  background-color: #dddddd;
}
#menu h2 {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 5px 0;
}
#menu .title {
  text-align: right;
}
@media screen and (max-width: 992px) {
  #menu .title {
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  #menu .title {
    padding-right: 30px;
    border-right: 1px solid #cccccc;
  }
}
#menu .title h1 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 1px 0 5px 0;
}
#menu .title h1 i {
  width: 13px;
  height: 13px;
  background: url("../images/roundel.svg") no-repeat center;
  display: inline-block;
  background-size: 13px 13px;
  vertical-align: -2px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #menu .title h1 i {
    display: none;
  }
}
#menu .title h2 {
  margin: 0;
}
#menu .title .phone-instructions {
  font-size: 13px;
  line-height: 16px;
}
@media screen and (min-width: 480px) {
  #menu .title .phone-instructions {
    display: none;
  }
}
#menu .title #autoplay {
  margin-top: -4px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#menu .title #autoplay:hover {
  opacity: 0.75;
  text-decoration: none;
}
#menu .title #autoplay i {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 7.5px auto 0;
  background-repeat: no-repeat;
  background-size: 26px 13px;
  text-indent: -9999px;
  background-image: url('../images/autoplay.png');
  vertical-align: -1px;
}
#menu .title #autoplay.playing i {
  background-position: -13px 0px;
}
#menu .title #autoplay.paused i {
  background-position: 0px 0px;
}
#menu .day .options-bar label {
  width: 14.285714285714286%;
}
#menu .direction .options-bar {
  width: 99%;
}
#menu .direction .options-bar label {
  width: 33.333333333333336%;
}
#menu .direction .options-bar label span div {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 7.5px;
  background-repeat: no-repeat;
  background-size: 90px 60px;
  text-indent: -9999px;
  background-image: url('../images/commuters.png');
}
#menu .direction .options-bar label span.all div {
  background-position: 0px 0px;
}
#menu .direction .options-bar label span.in div {
  background-position: -30px 0px;
}
#menu .direction .options-bar label span.out div {
  background-position: -60px 0px;
}
#menu .range-container {
  position: relative;
}
#menu .range-container #current-time {
  margin-left: 42%;
  padding-bottom: 5px;
}
#menu .range-container input[type=range] {
  -webkit-appearance: none;
}
#menu .range-container input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 3px;
  transition: all 0.3s;
}
#menu .range-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #dddddd;
  border: 1px solid #c4c4c4;
  margin-top: -8px;
  cursor: pointer;
}
#menu .range-container input[type=range]:focus {
  outline: none;
}
#menu .range-container input[type=range]:focus::-webkit-slider-runnable-track {
  transition: all 0.3s;
  background: #eeeeee;
}
@media screen and (max-height: 400px) {
  #menu .title {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #menu .title h2 {
    display: none;
  }
  #menu .title #autoplay {
    display: block !important;
  }
  #menu .options {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #menu .title h2 {
    display: none;
  }
  #menu .title #autoplay {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #menu {
    bottom: 15px;
    left: 0px;
    right: 0px;
  }
}
svg {
  width: 100%;
  height: 100%;
}
.d3-tip {
  line-height: 1;
  font-size: 13px;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  /* Style northward tooltips differently */

}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
.station-circle {
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: center;
  -webkit-animation: pulsate 5s ease-out;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: center;
  -moz-animation: pulsate 5s ease-out;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: center;
  -ms-animation: pulsate 5s ease-out;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: center;
  -o-animation: pulsate 5s ease-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation: pulsate 5s ease-out;
}
.station-circle:hover {
  filter: invert(100%);
}
.station-circle:nth-child(2n - 1) {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.station-circle:nth-child(2n) {
  -webkit-animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 9s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 9s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 9s;
  -o-animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
.station-circle:nth-child(2n + 1) {
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 6s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-duration: 6s;
  -ms-animation-iteration-count: infinite;
  -o-animation-duration: 6s;
  -o-animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
}
